* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  color: #ffffff;
  position: relative;
  font-size: 16.5px;
  min-height: 100vh;
  background: #000000;
  line-height: 1.5;
  font-family: "Circular-Std-Book", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen-reader-text {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.clear {
  clear: both;
}

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  h: 0;
}

* html .group,
*:first-child + html .group {
  zoom: 1;
}

/* First selector = IE6, Second Selector = IE 7 */
h1,
h2,
h3 {
  font-family: "Circular-Std-Book", sans-serif;
  font-weight: normal;
  margin: 0 0 10px 0;
  line-height: 1.3;
}

p {
  margin: 0 0 15px 0;
  line-height: 1.5;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  border: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

a img {
  border: none;
}

b,
strong {
  font-weight: normal;
  font-family: "Circular-Std-Book", sans-serif;
}

#pre {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 99;
  position: fixed;
  background: #000000;
}

section {
  outline: none;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 600px) {
  .wrap {
    padding: 0 20px;
  }
}

@font-face {
  font-family: "Circular-Std-Book";
  src: url("../webfont/Circular-Std-Book.eot");
  src: url("../webfont/Circular-Std-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../webfont/Circular-Std-Book.woff") format("woff"),
    url("../webfont/Circular-Std-Book.ttf") format("truetype"),
    url("../webfont/Circular-Std-Book.svg#Circular-Std-Book") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Circular-Std-Black";
  src: url("../webfont/Circular-Std-Black.eot");
  src: url("../webfont/Circular-Std-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../webfont/Circular-Std-Black.woff") format("woff"),
    url("../webfont/Circular-Std-Black.ttf") format("truetype"),
    url("../webfont/Circular-Std-Black.svg#Circular-Std-Black") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

.home__main--player {
  padding: 15px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 13px;
  text-align: center;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  user-select: none;
}

.home__main--player.active span:before {
  content: "Detener";
}
.home__main--player.active span:after {
  content: "\f04c";
}
.home__main--player:not(.block) {
  max-height: 50px;
}
.home__main--player.block i {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  -webkit-filter: invert(1);
  filter: invert(1);
  display: block;
  background-size: 120px auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.home__main--player.block span {
  display: none;
}
.home__main--player span {
  display: inline-block;
  line-height: 45px;
}
.home__main--player span i {
  display: none;
}
.home__main--player span:before {
  content: "Reproducir";
  margin-right: 10px;
  display: inline-block;
}
.home__main--player span:after {
  content: "\f04b";
  font-family: FontAwesome;
}
.home__main--dots {
  font-size: 0;
  margin-top: 20px;
}
.home__main--dots li {
  display: inline-block;
  margin-right: 10px;
}
.home__main--dots li.slick-active button {
  background-color: #000000;
}
.home__main--dots li button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border: 2px solid #ffffff;
  cursor: pointer;
  outline: none;
  font-size: 0;
  border-radius: 50%;
  background-color: #ffffff;
}
.home__slider--holder {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
.home__slider--item {
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.home__slider--item span {
  width: 100vw;
  height: 100vh;
  display: block;
}
.home__social {
  display: flex;
  z-index: 1;
  position: relative;
  font-size: 0;
  margin-left: auto;
}
@media (max-width: 900px) {
  .home__social {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }
}
@media (max-width: 720px) {
  .home__social {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .home__social {
    margin-top: 22px;
  }
}
.home__social--item {
  display: block;
  width: 50px;
  height: 50px;
  color: #000000;
  font-size: 20px !important;
  text-align: center;
  margin-left: 1px;
  line-height: 50px !important;
  margin-bottom: 1px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home__social--item:hover {
  background-color: #efefef;
}
.home__info {
  width: 100%;
  z-index: 1;
  position: relative;
  margin-top: auto;
  margin-right: auto;
}
@media (max-width: 900px) {
  .home__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  .home__info {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .home__info {
    margin-top: 22px;
  }
}
.home__info--btn {
  width: 45px;
  height: 45px;
  margin: 1px 0;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 900px) {
  .home__info--btn {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
  }
}
.home__info--btn:after,
.home__info--btn:before {
  content: "";
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  display: block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #000000;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home__info--btn:after {
  margin-top: -5px;
}
.home__info--btn:before {
  margin-top: 5px;
}
.home__info--btn.active:after,
.home__info--btn.active:before {
  margin-top: 0;
}
.home__info--btn.active:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.home__info--btn.active:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.home__info--content {
  width: 100%;
  max-width: 440px;
  color: #ffffff;
  padding: 0 25px;
  overflow: hidden;
  max-height: 0;
  background-color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 900px) {
  .home__info--content {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
  }
}
.home__info--content.active {
  padding: 30px 25px;
  max-height: 500px;
}
.home__info--ttl {
  font-size: 32px;
  line-height: 1;
  font-family: "Circular-Std-Black", sans-serif;
  margin-bottom: 15px;
}
@media (max-width: 600px) {
  .home__info--ttl {
    font-size: 27px;
  }
}
